
# This is the Civo API key
token = ""

# The name of the cluster
cluster_name = "civo-k8s"

# Node count
node_count = 3

# The size of the nodes
node_size = "g4s.kube.medium"

# The region of the cluster
region = "LON1"