
# The OVH Cloud API application key
application_key = ""

# The OVH Cloud API application secret
application_secret = ""

# The OVH Cloud API consumer key
consumer_key = ""

# The OVH Cloud Project Service name
service_name = ""

# This Kubernetes cluster's location
cluster_region = "DE1"

# The OVH Cloud API endpoint
endpoint = "ovh-eu"

# The number of nodes
node_count = 3

# The flavor of the nodes
node_flavor = "b2-7"

# The prefix for all resources
prefix = "example"