# The region where the Kubernetes cluster will be deployed.
region = "us-iad"

# The label of the Kubernetes cluster. This field can only contain ASCII letters, digits, and dashes.
label = "qdrant-example"

# The IPv4 range of the subnet for the Kubernetes cluster in CIDR format.
v_subnet = "10.0.0.0/24"

# The desired Kubernetes version for the cluster in the format of major.minor (e.g., 1.21).
k8s_version = "1.28"

# The Linode API key for authentication.
token = ""

# The region where the Kubernetes cluster will be hosted.
cluster_region = "us-central"

# An array of tags applied to the Kubernetes cluster for organizational purposes.
tags = ["qdrant"]

# A Linode Type for all of the nodes in the Node Pool.
pool_type = "g6-standard-2"

# The minimum number of nodes in the Node Pool.
min_pool_size = 3

# The maximum number of nodes in the Node Pool.
max_pool_size = 10

# The initial number of nodes in the Node Pool. If undefined with an autoscaler, it will equal the autoscaler minimum.
pool_count = 3
