
# Provide a token to access Digital Ocean
do_token = ""

# Enable cluster autoscaling
auto_scale = true

# Whether the cluster will be automatically upgraded
auto_upgrade = true

# Cluster name
cluster_name = "qdrant-hybrid-example"

# The Kubernetes version prefix to find latest version
kubernetes_version_prefix = "1.29"

# Autoscaling maximum node capacity
max_nodes = 9

# Autoscaling Minimum node capacity
min_nodes = 1

# The number of Droplet instances in the node pool.
node_count = 1

# List of Kubernetes labels to apply to the nodes
node_labels = {
  "service": "qdrant-example"
}

# Addons node pools
node_pools = {}

# The list of instance tags applied to all nodes.
node_tags = [
  "qdrant-example"
]

# The location of the cluster
region = "fra1"

# The slug identifier for the type of Droplet to be used as workers in the node pool.
size = "s-4vcpu-8gb"

# Enable/disable surge upgrades for a cluster
surge_upgrade = false

# The list of instance tags applied to the cluster.
tags = [
  "qdrant"
]

# Cluster name
vpc_name = "qdrant-hybrid-example"