
# The GCP target project ID
gcp_project = ""

# The GCP target region
gcp_region = "us-central1"

# The GCP target zone
gcp_zone = "us-central1-c"

# Node count
node_count = 3

# The prefix for all resources
prefix = "example"